@charset "utf-8";

#bo{
    background-color: darksalmon;
}

.button {
    left: calc(50% - 100px);
  }
  .button[class^="fa"]:before,
  .button[class*=" fa-"]:before {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin: 0;
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    -webkit-transition-property: opacity;
    transition-property: opacity;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -moz-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    color: #ff1a1a;
  }


  *{
    margin: 0;
    padding: 0;
}

#counter{
    width: 100%;
    padding: 1em 0;
    font-size: 64pt;
    text-align: center;
}

#btnAdd{
    width: 100%;
    font-size: 64pt;
}
